<div class="row my-4 d-flex text-center">
  <h1>Testing</h1>
  <p>{{testVar}}</p>
  <div class="col-12">
    <div class="card text-center my-3" ng-repeat="poemData in poemLibrary">
      <div class="card-header">{{poemData.date}}</div>
      <div class="card-body">
        <h5 class="card-title">
          {{poemData.poem.title}} - {{poemData.poem.author}}
        </h5>
        <p class="card-text">{{reviewLibrary[$index]}}</p>
        <a href="#" class="btn btn-sm btn-primary">Read the Poem</a>
      </div>
      <!-- <div class="card-footer text-body-secondary">2 days ago</div> -->
    </div>
  </div>
</div>
