<div class="row my-4 d-flex text-center">
  <h1>Impression Logs</h1>
  <div class="col-12">
    <div
      class="card text-center my-3"
      ng-repeat="poemData in poemLibrary | orderBy: '$index':true"
    >
      <div class="card-header">{{poemData.date}}</div>
      <div class="card-body">
        <h5 class="card-title">
          {{poemData.poem.title}} - {{poemData.poem.author}}
        </h5>
        <p class="card-text">{{reviewLibrary[$index]}}</p>
        <a
          ng-href="http://127.0.0.1:5500/#!/entry/{{poemLibrary.indexOf(poemData)}}"
          class="btn btn-sm btn-primary"
          >Read the Poem</a
        >
      </div>
    </div>
  </div>
</div>
